{
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"bracketSpacing": true,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"bracketSameLine": false,
	"singleAttributePerLine": true,

	"overrides": [
		{
			"files": ["*.component.html", "*.html"],
			"options": {
				"parser": "angular"
			}
		}
	]
}
